body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.project {
    display: block;
    font-size: 20px;
    padding-top: 30px;
    margin-top: 0;
}

.type {
    display: inline-block;
    padding: 0.125em 1em;
    color: white;
    border-radius: 1em;
    font-size: 18px;
}

#software {
    background-color: purple;
}

#in-dev {
    background-color: red;
}

#prototype {
    background-color: blue;
}

#unfinished {
    background-color: black;
}

#game {
    background-color: green;
}

#jam {
    background-color: yellow;
    color: black;
}

#platform {
    background-color: grey;
}

#language {
    background-color: orange;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

.container h1 {
    font-family: 'Roboto', sans-serif;
}

.container h2 {
    font-family: 'Roboto', sans-serif;
}

.container hr {
    margin-top: 2em;
}

.nav-bar {
    background:cyan;
    padding: 0.1em;
    display: block;
    border-top: 5px solid #555;
}

.nav-bar h1 {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}

.project a {
    font-size: 24px;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

#description {
    color: #999;   
    font-size: 19px;
    margin-left: 1em;
    margin-top: 0.2em;
}